.onboarding-container {
    padding: 2rem 1rem;
}

.onboarding-logo {
    align-self: center;
    height: auto;
    max-width: min(100%, 365px);
}

@media (max-width: 600px) {
    .onboarding-container {
        padding: 1rem 0.5rem;
    }
}
